PORT=3001
DATABASE_URL="postgresql://user:password@localhost:5432/streaming_catalog_test?schema=public"
JWT_SECRET="test-secret-key-for-e2e"
JWT_EXPIRES_IN="1d"

# The Movie Database (TMDb)
TMDB_ACCESS_TOKEN="your_v4_bearer_token_here"
TMDB_BASE_URL="https://api.themoviedb.org/3"

# Redis
REDIS_URL="redis://localhost:6380"
