PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/streaming_catalog?schema=public"
JWT_SECRET="generate-a-safe-secret-key-here"
JWT_EXPIRES_IN="1d"

# The Movie Database (TMDb)
TMDB_ACCESS_TOKEN="your_v4_bearer_token_here"
TMDB_BASE_URL="https://api.themoviedb.org/3"
